#messages p{
  margin-top: 2px;
  margin-bottom: 2px;
}

#messages{
  max-height: 300px;
  overflow-y: scroll;
}

.hidden{
  display: none;
}

#main{
    float: left;
    width: 80%;
}

#side{
    float: left;
    width: 20%;
}

div.conversation div.status, div.conversation p.name{
  display: inline-block;
  margin: 5px;
}

div.status.new{
  background-color: #23dbf2;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.message{
  margin-bottom: 10px;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: row;
}

.message .name{
  font-weight: bold;
}

.message .content{
  padding-left: 16px;
}

.profile{
  margin: 5px;
  max-width: 50px;
  max-height: 50px;
}

.message .chat{
  flex: 1;
}

#status_log{
  color: red;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

#username{
  margin-top: 18px;
  font-size: 1.5em;
  color: #ff5f56;
}

.tabs p{
  display: inline-block;
}

input[type="checkbox"].no-template{
  position: inherit;
  left: inherit;
  opacity: initial;
}

.context-menu-item{
  padding: 0 !important;
}

.context-menu-item p{
  display: inline;
  vertical-align: super;
  margin-left: 5px;
}
